body {
  background-color: white;
}

p {
  margin: 0;
}

.App {
  text-align: center;
}

#header-title {
  height: 20vh;
}

#drum-machine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 400px;
  height: 50vh;
  margin: auto;
}

.drum-pad {
  height: 12vh;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #343a40;
  box-shadow: 0 5px #212529;
  margin: 5px;
}
.drum-pad:hover {
  box-shadow: 0 3px #212529;
  top: 1px;
}

.key-trigger {
  display: block;
  padding: 1em;
}

.drum-label {
  display: block;
}

#social-footer {
  height: 10vh;
  margin: 0;
  padding: 3vh 0;
  font-size: 0.6em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

